#pag3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: fixed;
}

#div9,
#div10 {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 3.125rem;
}

#img3 {
    width: 100%;
    border-radius: 5%;
    box-shadow: 10px 10px 10px var(--cor-sombra);
}