#pag4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: fixed;
}

#div12,
#div13 {
    width: 40%;
    display: flex;
    align-items: center;
    margin: 1rem 3.125rem;
    flex-direction: column;
}

#img4, #iframe {
    width: 100%;
    border-radius: 5%;
    box-shadow: 10px 10px 10px var(--cor-sombra);
}

#iframe {
    height: 20rem;
}
